@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2jskl1');
  src:  url('fonts/icomoon.eot?2jskl1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2jskl1') format('truetype'),
    url('fonts/icomoon.woff?2jskl1') format('woff'),
    url('fonts/icomoon.svg?2jskl1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-azerbaijan:before {
  content: "\e923";
}
.icon-austria:before {
  content: "\e924";
}
.icon-australia:before {
  content: "\e902";
}
.icon-egypt:before {
  content: "\e90b";
}
.icon-hongkong:before {
  content: "\e900";
}
.icon-africa:before {
  content: "\e901";
}
.icon-canada:before {
  content: "\e903";
}
.icon-canada2:before {
  content: "\e904";
}
.icon-china:before {
  content: "\e905";
}
.icon-china1:before {
  content: "\e906";
}
.icon-cruise:before {
  content: "\e907";
}
.icon-czechrepublic:before {
  content: "\e908";
}
.icon-doha:before {
  content: "\e909";
}
.icon-dubai:before {
  content: "\e90a";
}
.icon-france:before {
  content: "\e90c";
}
.icon-greece:before {
  content: "\e90d";
}
.icon-hongkong2:before {
  content: "\e90e";
}
.icon-iceland:before {
  content: "\e90f";
}
.icon-italy:before {
  content: "\e910";
}
.icon-japan:before {
  content: "\e911";
}
.icon-japan1:before {
  content: "\e912";
}
.icon-kenya:before {
  content: "\e913";
}
.icon-london:before {
  content: "\e914";
}
.icon-malaysia:before {
  content: "\e915";
}
.icon-netherlands:before {
  content: "\e916";
}
.icon-newzealand:before {
  content: "\e917";
}
.icon-northamerica:before {
  content: "\e918";
}
.icon-russia:before {
  content: "\e919";
}
.icon-saudiarabia:before {
  content: "\e91a";
}
.icon-singapore:before {
  content: "\e91b";
}
.icon-srilanka:before {
  content: "\e91c";
}
.icon-switzerland:before {
  content: "\e91d";
}
.icon-tanzania:before {
  content: "\e91e";
}
.icon-thailand:before {
  content: "\e91f";
}
.icon-turkey:before {
  content: "\e920";
}
.icon-usa:before {
  content: "\e921";
}
.icon-vietnam:before {
  content: "\e922";
}
